<table class="table">
  <tr>
    <td>Username </td>
    <td><b><%= @admin.username %></b></td>
  </tr>
  <tr>
    <td>Is Super Admin </td>
    <td><b><%= @admin.super_admin? %></b></td>
  </tr>
</table>