div#customer-container {
  margin:300px;
  margin-top: 0px;
}

div.merge-contacts {
  display: table-cell;
  margin: 10px;
}

.customer-fields {
  width: 150px;
}

div#search-fields {
  display: block;
  margin: 10px;
  margin-left: 500px;
}

.pagination {
  display: block;
}

div#personal-info {
  width: 500px;
  margin: 0px auto;
}

div.export-button {
  width: 700px;
  margin: 0px auto;
  text-align: center;
}