div#customer-container {
  margin:300px;
  margin-top: 0px;
}

.customer-fields {
  width: 150px;
}

div#search-fields {
  display: block;
  margin: 10px;
  margin-left: 500px;
}

.pagination {
  display: block;
}